@{
    ViewData["Title"] = "Home Page";
}


<script>
    $(document).ready(function () {
        @*1st Visit*@
        $('#visit-diata').hide();

        $('#diata').mouseover(function () {
            $('#visit-diata').show("slow");
        });

        $('#diata').mouseout(function () {
            if (!($('#diata').is(':hover'))) {
                $('#visit-diata').hide("slow");
            }
        });


        @*2nd Visit*@
        $('#visit-algo').hide();

        $('#algo').mouseover(function () {
            $('#visit-algo').show("slow");
        });

        $('#algo').mouseout(function () {
            if (!($('#algo').is(':hover'))) {
                $('#visit-algo').hide("slow");
            }
        });

    });
</script>

<script type="text/javascript">
    window.addEventListener('scroll', reveal);

    function reveal() {
        var reveals = document.querySelectorAll('.reveal');

        for (var i = 0; i < reveals.length; ++i) {
            var windowheight = window.innerHeight;
            var revealtop = reveals[i].getBoundingClientRect().top;
            var revealpoint = 150;

            if (revealtop < windowheight - revealpoint) {
                reveals[i].classList.add('active');
            }
            else {
                reveals[i].classList.remove('active');
            }
        }
    }
</script>

@*TODO: Change transition in all items
        Change work cards
        Delete music (Or let it. Decide)
        Transfer js code to another file
        Add comments
        Organize code*@

<body>
    <audio id="player" src="~/sound/Consoul Trainin - Take Me To Infinity (Extended Mix).mp3" loop></audio>
    <div id="controls">
        <a href="#" onclick="document.getElementById('player').play()"><i class="fas fa-play"></i></a>
        <a href="#" onclick="document.getElementById('player').pause()"><i class="fas fa-pause"></i></a>
        <a href="#" onclick="document.getElementById('player').muted=!document.getElementById('player').muted"><i class="fas fa-volume-mute"></i></a>
    </div>

    <div class="container rounded" id="name">
        <a id="name-link" href="https://drive.google.com/file/d/1fSc6m638POhv6ZSftdWbl2TwcDGvyE9b/view?usp=sharing">Giannis Zapantis</a>
    </div>

    <div class="container" id="cont">
        <div id="work">
            <h3>Work Experience</h3>

            <div id="diata" class="card work-card m-0 bg-primary d-inline-block">
                <img class="card-img" src="~/img/diatasys.png" alt="Card image" />
                <div class="card-img-overlay">
                    <p class="card-text"><b>.NET Developer</b></p>
                    <a href="http://diatasys.com/" style="text-decoration: none;">
                        <div id="visit-diata" class="rounded visit">
                            <b>Visit</b>
                        </div>
                    </a>
                </div>
            </div>

            <div id="algo" class="card work-card m-1 bg-primary d-inline-block" style="float: right;">
                <img class="card-img" src="~/img/algorithmics.png" alt="Card image" />
                <div class="card-img-overlay">
                    <p class="card-text"><b>Python Tutor</b></p>
                    <a href="https://greece.alg.academy/" style="text-decoration: none;">
                        <div id="visit-algo" class="rounded visit">
                            <b>Visit</b>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="general">
            <h3>General Information</h3>

            <p>
                I'm an undergradute student of the National and Kapodistrian University in Athens. Specially, I'm studying
                in the Department of Informatics and Telecommunications.

                Except my programming skills, I also:
                <ul>
                    <li>Have a Certificate of level C2 (Proficiency), in English</li>
                    <li>Have a Certificate of level B1 (Sorbonne), in French</li>
                    <li>My native language is Greek</li>
                </ul>
            </p>
        </div>

        <div id="skills">
            <h3>Programming skills</h3>

            <p>
                Below are listed programming languages, frameworks and technologies I have learned through work experience, university's lessons,
                online courses, mini-projects and many hours of exercise.
            </p>

            <div id="boxes">
                <div class="rounded m-1 d-inline-block lang">C / C++</div>
                <div class="rounded m-1 d-inline-block lang">C#</div>
                <div class="rounded m-1 d-inline-block lang">.NET Core</div>
                <div class="rounded m-1 d-inline-block lang">SQL</div>
                <div class="rounded m-1 d-inline-block lang">Python</div>
                <div class="rounded m-1 d-inline-block lang">Assembly</div>
                <div class="rounded m-1 d-inline-block lang">Java</div>
                <div class="rounded m-1 d-inline-block lang">HTML / CSS</div>
                <div class="rounded m-1 d-inline-block lang">Matlab</div>
                <div id="js" class="rounded m-1 d-inline-block lang">JavaScript</div>
            </div>
        </div>

        <div id="university">
            <h3>University's Courses</h3>

            <p>
                Here are some of the courses I have watched in my University and I have learned the most of them.
                Except of the following courses, I have passed all of the courses for my year.
            </p>

            <div id="courses">
                <ul>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/32">Discrete Mathematics</a></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/18">Introduction to Programming</a> &emsp;&emsp;&emsp;&ensp;&nbsp;<i style="color: #bfad7e; ">(learning C and basic algorithmics)</i></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/30">Logic Design</a></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/36">Computer Architecture I</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i style="color: #bfad7e;">(learning Assembly and MIPS architecture)</i></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/34">Data Structures</a></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/39">Signals and Systems</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;<i style="color: #bfad7e;">(learning Matlab)</i></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/38">Object-Oriented Programming</a> &emsp;&emsp;&emsp;<i style="color: #bfad7e;">(learning C++ and Java)</i></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/44">Algorithms and Complexity</a></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/42">Communication Networs I</a></li>
                    <li><a href="https://www.di.uoa.gr/en/studies/undergraduate/27">Design and Use of Database Systems</a> <i style="color: #bfad7e;">(learning SQL)</i></li>
                </ul>

            </div>
        </div>

        <div id="projects">
            <h3>Personal Projects</h3>

            <div class="card right-card reveal" style="grid-row: 1;">
                <div class="card-body">
                    <h4 class="card-title">DitHub</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: Html, css, JavaScript</i></h6>
                    <p class="card-text">
                        This project was an idea of one of my colleauges and me, so we could help the first-year students
                        of our university. We implemented the site and published it.
                    </p>
                    <a href="https://dithub.gr/" class="card-link">Website</a>
                    <a href="https://github.com/tech-gian/DitHub" class="card-link">GitHub's Repository</a>
                </div>
            </div>

            <div class="card left-card reveal" style="grid-row: 2;">
                <div class="card-body">
                    <h4 class="card-title">Blog-in</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Implemented in WordPress</i></h6>
                    <p class="card-text">
                        Based on some scientific articles and movie suggestions I wanted to upload, I created this site
                        so me and some of my friends could upload our articles.
                    </p>
                    <a href="https://blog-in.gr/" class="card-link">Website</a>
                </div>
            </div>

            <div class="card right-card reveal" style="grid-row: 3;">
                <div class="card-body">
                    <h4 class="card-title">Data Structures</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: C</i></h6>
                    <p class="card-text">
                        University's project about data structures in C language. We have implemented all of the known data structures.
                    </p>
                    <a href="https://github.com/tech-gian/2020-Spring-Data-Structures" class="card-link">GitHub's Repository</a>
                </div>
            </div>

            <div class="card left-card reveal" style="grid-row: 4;">
                <div class="card-body">
                    <h4 class="card-title">Fight-Game</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: C++</i></h6>
                    <p class="card-text">
                        Project for unviersity's course. One of my colleauges and I had to implement a console-game with
                        heroes and monsters, to simulate fights.
                    </p>
                    <a href="https://github.com/tech-gian/OOPproj_2021" class="card-link">GitHub's Repository</a>
                </div>
            </div>

            <div class="card right-card reveal" style="grid-row: 5;">
                <div class="card-body">
                    <h4 class="card-title">School Simulation</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: Java</i></h6>
                    <p class="card-text">
                        Project to understand better the principles of Object Oriented Programming. We had to organise
                        a school in students, teachers, classes etc.
                    </p>
                    <a href="https://github.com/tech-gian/School_Simulation_java" class="card-link">GitHub's Repository</a>
                </div>
            </div>

            <div class="card left-card reveal" style="grid-row: 6;">
                <div class="card-body">
                    <h4 class="card-title">Contact-Book</h4>
                    <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: Python</i></h6>
                    <p class="card-text">
                        One mini-project to use oop principles in a console-app. The main purpose of this project
                        is to save, modify and delete, new or existing, contacts in your PC. <i>(basic CRUD operations, in optimal complexity)</i>
                    </p>
                    <a href="https://github.com/tech-gian/Contact_book" class="card-link">GitHub's Repository</a>
                </div>
            </div>

        </div>


            <div id="contact">
                <h3>Contact information</h3>

                <a href="mailto:zapantis2@gmail.com">
                    <div class="rounded" style="background-color: #ff9800; ">
                        <i class="fas fa-at"></i> Email
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/giannis-zapantis-59018b1bb/">
                    <div class="rounded" style="background-color: #0077b5;">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </div>
                </a>
                <a href="https://github.com/tech-gian">
                    <div class="rounded" style="background-color: #6cc644;">
                        <i class="fab fa-github"></i> GitHub
                    </div>
                </a>
            </div>
        </div>
</body>
