@{
    ViewData["Title"] = "Home";
}

@*  The css and js files are minified. Check this link to change it
    https://docs.microsoft.com/en-us/aspnet/core/client-side/bundling-and-minification?view=aspnetcore-5.0*@

<body>
    @* Div element for resume link *@
    <div class="container rounded trans scroll" id="name">
        <a id="name-link" href=@Model[0]>Giannis Zapantis</a>
    </div>

    @* Div element for work cards *@
    <div class="container" id="cont">
        <div id="work" class="trans main-div">
            <h3>Work Experience</h3>

            <div id="diata" class="card work-card m-0 bg-primary d-inline-block">
                <img class="card-img" src="~/img/diatasys.png" alt="Card image" />
                <div class="card-img-overlay">
                    <p class="card-text"><b>.NET Developer</b></p>
                    <a href=@Model[1]>
                        <div id="visit-diata" class="rounded visit">
                            <b>Visit</b>
                        </div>
                    </a>
                </div>
            </div>

            <div id="algo" class="card work-card m-1 bg-primary d-inline-block" style="float: right;">
                <img class="card-img" src="~/img/algorithmics.png" alt="Card image" />
                <div class="card-img-overlay">
                    <p class="card-text"><b>Python Tutor</b></p>
                    <a href=@Model[2]>
                        <div id="visit-algo" class="rounded visit">
                            <b>Visit</b>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @* Div element for general information *@
        <div id="general" class="trans main-div">
            <h3>General Information</h3>
            <p>
                I'm an undergradute student of the National and Kapodistrian University in Athens. Specially, I'm studying
                in the Department of Informatics and Telecommunications.

                Except my programming skills, I also:
                <ul>
                    <li>Have a Certificate of level C2 (Proficiency), in English</li>
                    <li>Have a Certificate of level B1 (Sorbonne), in French</li>
                    <li>My native language is Greek</li>
                </ul>
            </p>
        </div>

        @* Div element for my programming skills *@
        <div id="skills" class="trans main-div">
            <h3>Programming skills</h3>
            <p>
                Below are listed programming languages, frameworks and technologies I have learned through work experience, university's lessons,
                online courses, mini-projects and many hours of exercise.
            </p>

            <div id="boxes">
                <div class="rounded m-1 d-inline-block lang">C / C++</div>
                <div class="rounded m-1 d-inline-block lang">C#</div>
                <div class="rounded m-1 d-inline-block lang">.NET Core</div>
                <div class="rounded m-1 d-inline-block lang">SQL</div>
                <div class="rounded m-1 d-inline-block lang">Python</div>
                <div class="rounded m-1 d-inline-block lang">Assembly</div>
                <div class="rounded m-1 d-inline-block lang">Java</div>
                <div class="rounded m-1 d-inline-block lang">HTML / CSS</div>
                <div class="rounded m-1 d-inline-block lang">Matlab</div>
                <div id="js" class="rounded m-1 d-inline-block lang">JavaScript</div>
            </div>
        </div>

        @* Div element with some of the courses I have taken *@
        <div id="university" class="trans main-div">
            <h3>University's Courses</h3>
            <p>
                Here are some of the courses I have taken in my University and I have learned the most of them.
                Except of the following courses, I have passed all of the courses for my year.
            </p>

            <div id="courses">
                <ul>
                    <li><a href=@Model[3]>Discrete Mathematics</a></li>
                    <li><a href=@Model[4]>Introduction to Programming</a> &emsp;&emsp;&emsp;&ensp;&nbsp;<i style="color: #bfad7e; ">(learning C and basic algorithmics)</i></li>
                    <li><a href=@Model[5]>Logic Design</a></li>
                    <li><a href=@Model[6]>Computer Architecture I</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i style="color: #bfad7e;">(learning Assembly and MIPS architecture)</i></li>
                    <li><a href=@Model[7]>Data Structures</a></li>
                    <li><a href=@Model[8]>Signals and Systems</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;<i style="color: #bfad7e;">(learning Matlab)</i></li>
                    <li><a href=@Model[9]>Object-Oriented Programming</a> &emsp;&emsp;&emsp;<i style="color: #bfad7e;">(learning C++ and Java)</i></li>
                    <li><a href=@Model[10]>Algorithms and Complexity</a></li>
                    <li><a href=@Model[11]>Communication Networs I</a></li>
                    <li><a href=@Model[12]>Design and Use of Database Systems</a> <i style="color: #bfad7e;">(learning SQL)</i></li>
                </ul>

            </div>
        </div>

        @* Div element with some of my projects *@
    <div id="projects" class="main-div">
        <h3>Personal Projects</h3>

        <div class="card right-card reveal" style="grid-row: 1;">
            <div class="card-body">
                <h4 class="card-title">DitHub</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: Html, css, JavaScript</i></h6>
                <p class="card-text">
                    This project was an idea of one of my colleauges and me, so we could help the first-year students
                    of our university. We implemented the site and published it.
                </p>
                <a href=@Model[13] class="card-link">Website</a>
                <a href=@Model[14] class="card-link">GitHub's Repository</a>
            </div>
        </div>

        <div class="card left-card reveal" style="grid-row: 2;">
            <div class="card-body">
                <h4 class="card-title">Blog-in</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Implemented in WordPress</i></h6>
                <p class="card-text">
                    Based on some scientific articles and movie suggestions I wanted to upload, I created this site
                    so me and some of my friends could upload our articles.
                </p>
                <a href=@Model[15] class="card-link">Website</a>
            </div>
        </div>

        <div class="card right-card reveal" style="grid-row: 3;">
            <div class="card-body">
                <h4 class="card-title">Data Structures</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: C</i></h6>
                <p class="card-text">
                    University's project about data structures in C language. We have implemented all of the known data structures.
                </p>
                <a href=@Model[16] class="card-link">GitHub's Repository</a>
            </div>
        </div>

        <div class="card left-card reveal" style="grid-row: 4;">
            <div class="card-body">
                <h4 class="card-title">Fight-Game</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: C++</i></h6>
                <p class="card-text">
                    Project for unviersity's course. One of my colleauges and I had to implement a console-game with
                    heroes and monsters, to simulate fights.
                </p>
                <a href=@Model[17] class="card-link">GitHub's Repository</a>
            </div>
        </div>

        <div class="card right-card reveal" style="grid-row: 5;">
            <div class="card-body">
                <h4 class="card-title">ContosoCrafts</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: ASP.NET Core</i></h6>
                <p class="card-text">
                    Simple ASP.NET Core web application, hosted on Microsoft Azure.
                </p>
                <a href=@Model[18] class="card-link">Website</a>
                <a href=@Model[19] class="card-link">GitHub's Repository</a>
            </div>
        </div>

        <div class="card left-card reveal" style="grid-row: 6;">
            <div class="card-body">
                <h4 class="card-title">School Simulation</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: Java</i></h6>
                <p class="card-text">
                    Project to understand better the principles of Object Oriented Programming. We had to organise
                    a school in students, teachers, classes etc.
                </p>
                <a href=@Model[20] class="card-link">GitHub's Repository</a>
            </div>
        </div>

        <div class="card right-card reveal" style="grid-row: 7;">
            <div class="card-body">
                <h4 class="card-title">Contact-Book</h4>
                <h6 class="card-subtitle mb-2 text-muted" style="color: black !important;"><i>Programming language: Python</i></h6>
                <p class="card-text">
                    One mini-project to use oop principles in a console-app. The main purpose of this project
                    is to save, modify and delete, new or existing, contacts in your PC. <i>(basic CRUD operations, in optimal complexity)</i>
                </p>
                <a href=@Model[21] class="card-link">GitHub's Repository</a>
            </div>
        </div>

    </div>

        @* Div element with some contact information *@
        <div id="contact" class="main-div">
            <h3>Contact information</h3>

            <a href=@Model[22]>
                <div class="rounded" style="background-color: #ff9800; ">
                    <i class="fas fa-at"></i> Email
                </div>
            </a>
            <a href=@Model[23]>
                <div class="rounded" style="background-color: #0077b5;">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </div>
            </a>
            <a href=@Model[24]>
                <div class="rounded" style="background-color: #6cc644;">
                    <i class="fab fa-github"></i> GitHub
                </div>
            </a>
        </div>
    </div>
</body>
