/* Scrollbar */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 30px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #474747;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #292723;
    color: #e3e0d8;
    font-family: 'Open Sans', sans-serif;
    /*    animation: transitionIn 0.75s;*/
}

#controls {
    position: absolute;
    right: 1%;
    top: 2%;
}

#controls a {
    color: #757168;
}

#controls a:hover {
    color: #5c5954;
}

#name {
    background-color: #615f58;
    text-align: center;
    border: solid #6b6451;
    margin: 2% auto;
    padding: 2%;
    width: 30%;
    font-size: 150%;
    animation: transitionMargin 1s;
}

#name-link {
    text-decoration: none;
    color: #e3e0d8;
}

#name-link:hover {
    transition-duration: 0.5s;
    color: #1a1918;
    font-weight: bold;
}

#work h3 {
    text-align: center;
}

#work img {
    height: 100%;
    width: 100%;
}

#work p {
    text-align: center;
    color: #131a1f;
}

.work-card {
    margin-top: 5% !important;
    margin-left: 17% !important;
    margin-right: 17% !important;

    width: 10em;
    height: 10em;

    border: solid 2px #5f95b3;
}

@media screen and (max-width: 480px) {
    #controls {
        top: 1.5%;
    }
    
    .work-card {
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    
    .lang {
        width: 27% !important;
        margin-left: 11% !important;
        margin-right: 11% !important;
        height: 6em !important;
        padding-top: 8% !important;
        padding-bottom: 8% !important;
    }

    .right-card {
        width: 70% !important;
        margin-left: 35% !important;
    }

    .left-card {
        width: 70% !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 600px) and (min-width: 480px) {
    #controls {
        top: 1.7%;
    }

    .work-card {
        margin-left: 8% !important;
        margin-right: 8% !important;
    }

    .lang {
        width: 27% !important;
        margin-left: 11% !important;
        margin-right: 11% !important;
        height: 6em !important;
        padding-top: 8% !important;
        padding-bottom: 8% !important;
    }

    .right-card {
        width: 70% !important;
        margin-left: 35% !important;
    }

    .left-card {
        width: 70% !important;
        margin-left: -3% !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    #controls {
        top: 1.7%;
    }

    .work-card {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .lang {
        width: 22% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        height: 6em !important;
        padding-top: 6% !important;
        padding-bottom: 6% !important;
    }

    .right-card {
        width: 70% !important;
        margin-left: 40% !important;
    }

    .left-card {
        width: 70% !important;
        margin-left: -8% !important;
    }

    #js {
        margin-left: 37.6% !important;
        margin-right: 37.5% !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    .work-card {
        margin-left: 12% !important;
        margin-right: 12% !important;
    }

    .right-card {
        width: 60% !important;
        margin-left: 41% !important;
    }

    .left-card {
        width: 60% !important;
        margin-left: 0 !important;
    }
}

div.work-card:hover {
    transform: translateY(-10%);
    transition: 0.7s ease;
    opacity: 0.5;
}

.visit {
    background-color: black;
    color: white;
    text-align: center;
    border: solid #2a4452 2px;
    padding-top: 4%;
    padding-bottom: 4%;
}

#general {
    margin-top: 5%;
}

#general h3 {
    text-align: center;
}

#general p {
    margin-top: 2%;
    text-align: center;
}

#skills {
    margin-top: 5%;
}

#skills h3 {
    text-align: center;
}

#skills p {
    margin-top: 2%;
    text-align: center;
}

.lang {
    text-align: center;
    padding: 2%;
    width: 18%;
    height: 50%;
    background-color: #999882;
    font-weight: bold;
}

.lang:hover {
    transition: 0.7s ease;
    color: #5c5a54;
}

#boxes {
    margin-left: 3%;
    margin-right: 3%;
}

#university {
    margin-top: 5%;
}

#university h3 {
    text-align: center;
}

#university p {
    margin-top: 2%;
    text-align: center;
}

#courses a {
    text-decoration: none;
    color: #e3e0d8;
}

#courses a:hover {
    transition-duration: 0.7s;
    color: #918b7c;
    font-size: 17px;
}

#project {
    margin-top: 5%;
    display: grid;
}

#projects h3 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#projects .card {
    margin-top: 2%;
    border: solid 4px #19191c;
    background-color: #6d6f7a;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.right-card {
    margin-left: 41%;
    width: 60%;
    grid-column: 2;
}

.left-card {
    margin-left: 0%;
    width: 60%;
    grid-column: 1;
}

#projects a {
    color: #00326b;
}

#project a:hover {
    color: #20004a;
}

#cont {
    margin-top: 5%;
}

#contact {
    margin-top: 5%;
}

#contact h3 {
    text-align: center;
}

#contact div {
    text-align: center;
    float: left;
    width: 30%;
    margin: 1%;
    font-size: 115%;

    padding: 0.7%;
}

#contact div:hover {
    transform: translateY(-20%);
    transition-duration: 0.7s;
    color: #242321;
}

#contact a {
    text-decoration: none;
    color: #e3e0d8;
}


@keyframes transitionMargin {
    from {
        margin-top: -2%;
    }
    to {
        margin-top: 2%;
    }
}

/*Helping links
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
https://www.chatzi.org/
http://cgi.di.uoa.gr/~takis/GWelcome.html
https://hackerthemes.com/bootstrap-cheatsheet/
*/


/*@keyframes test {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}*/
