body {
    text-align: justify;
}

a {
    text-decoration: none !important;
    color: #bfad7e;
}

a:hover {
    color: #807353;
}

div.trans {
    opacity: 0;
    transition: all 1.5s ease;
}

div.trans.active {
    opacity: 1;
}
